*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*overflow-x: hidden;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  

}

/*Navbar Stats*/

.container{
    width:100vw;
    min-height: 100vh;
    background-color: #fcf5eb;
    padding: 0 40px;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
}


.navbar img:nth-child(1){
    width: 130px;
    height: 30px;


}
.nav-items{
    display:flex;
    gap: 35px;
    font-size: 16px;

    
    

}
.nav-items > p{
    cursor: pointer;
}
.navbar > button{
    display: flex;
    padding: 8px 18px;
    font-size: 14px;
    gap:10px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: #25d366;
    border: none;
    border: 1px solid black;
    
    
}

.features{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 110px;
    height: 20px;
    cursor: pointer;
    position: relative;
    

}

.features::after{
    content :"";
    width: 80%;
    height: 2px;
    background-color: #25d366;
    position: absolute;
    bottom: 0;
    left: 12%;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}
.features:hover::after{
    transform: scaleX(1);
}


.features > img {
    transform: rotate(-90deg);
    width: 10px;
    height: 15px;
    
}


.nav-items > .slide{
    position: relative;
    cursor: pointer;
}

.nav-items > .slide::after{
    content :"";
    width: 100%;
    height: 2px;
    background-color: #25d366;
    position: absolute;
    bottom: 0;
    left: 0%;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

.nav-items > .slide:hover::after{
    transform: scaleX(1);
}

/*Navbar ends*/


/*Hero Section*/
