*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*overflow-x: hidden;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  

}



.container{
    width:100vw;
    min-height: 100vh;
    background-color: #fcf5eb;
    padding: 0 40px;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
}


.navbar img:nth-child(1){
    width: 130px;
    height: 30px;
}
.nav-items{
    display:flex;
    gap: 35px;
    font-size: 16px;

}
.navbar > button{
    display: flex;
    padding: 8px 18px;
    font-size: 14px;
    gap:10px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: #25d366;
    border: none;
    border: 1px solid black;
    
    
}

.features{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 110px;
    height: 20px;

}
.features > img {
    transform: rotate(-90deg);
    width: 10px;
    height: 15px;
    
}