*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*overflow-x: hidden;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  

}
body{
    background-color: #fcf5eb;
}

/*Navbar Stats*/

.container{
    width:100%;
    height: 100vh;
    padding: 0 40px;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
}


.navbar img:nth-child(1){
    width: 130px;
    height: 30px;


}
.nav-items{
    display:flex;
    gap: 35px;
    font-size: 16px;

    
    

}
.nav-items > p{
    cursor: pointer;
}
.navbar > button, .btn{
    display: flex;
    padding: 8px 18px;
    font-size: 14px;
    gap:10px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: #25d366;
    border: none;
    border: 1px solid black;
    
    
}

.features{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 110px;
    height: 20px;
    cursor: pointer;
    position: relative;
    

}

.features::after{
    content :"";
    width: 80%;
    height: 2px;
    background-color: #25d366;
    position: absolute;
    bottom: 0;
    left: 12%;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}
.features:hover::after{
    transform: scaleX(1);
}


.features > img {
    transform: rotate(-90deg);
    width: 10px;
    height: 15px;
    
}


.nav-items > .slide{
    position: relative;
    cursor: pointer;
}

.nav-items > .slide::after{
    content :"";
    width: 100%;
    height: 2px;
    background-color: #25d366;
    position: absolute;
    bottom: 0;
    left: 0%;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

.nav-items > .slide:hover::after{
    transform: scaleX(1);
}

/*Navbar ends*/


/*Hero Section*/
.firstSection{
padding-top: 40px;
height: 85%;
display: flex;
flex-direction: column;
margin-bottom: 120px;
}


.div1{
    background-image: url(./whatsApp/MaaBeti.png);
    height:800px ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 140px;
    
    
}
.firstSection > p{
    text-align: end;
    font-size: 12px;
    opacity: 0.8;
    padding-top: 15px;
}
.right{
    position: relative;
    width: 500px;
    height: 100%;
    margin-top: 15%;
    left: 120px;
    
}
.right img:nth-child(1){
    
 width: 400px;
animation: gm 0.7s ease-in-out;
}
@keyframes gm {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}


.right img:nth-child(2){
 position: absolute;
    left :12px;
    top: 16px;
    width: 350px;
    animation: heart 1.3s ease-in-out;
}

@keyframes heart {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.right img:nth-child(3){
    margin-left: 20px;
    width: 360px;
     animation: tea 1.9s ease-in-out;
}

@keyframes tea {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }

    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.right img:nth-child(4){
     width: 360px;
      
     animation: voice 2.5s ease-in-out;
}

@keyframes voice {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.right img:nth-child(5){
    width: 360px;
    animation: emo 3.3s ease-in-out;
}

@keyframes emo {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.right img:nth-child(6){
    position: absolute;
    top:385px;
    left:1px;
    width: 450px;
    animation: emotionalEmoji 4.1s ease-in-out ;
}

@keyframes emotionalEmoji {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.right img:nth-child(7){
    padding-top: 30px;
    width: 400px;
    animation: trip 4.8s ease-in-out;
}


@keyframes trip {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.left{
    display: flex;
    flex-direction: column;
    gap: 80px;
    color: white;
    position: relative;
    left: 0px;
    top: 53px;
    
}
.leftmsg >h1{
    font-size: 78px;
    font-weight: 500;
    letter-spacing: -3px;
    
}
.btn{
    width: 150px;
}

.leftmsg >p{
    font-size: 18px;
    margin: 18px 0;
}
    
.secondsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}


.secondsection>  img{
    width: 70%;
}
.secondsection>  p{
    text-align: center;
    font-size: 3em;
    letter-spacing: -1px;
    font-weight: 500;
    
}

.firstpart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
    margin-top: 70px;
    padding-top: 15px;
    margin-right: 30px;
}

.leftpart> p:nth-child(1){
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0px;

}

.leftpart> p:nth-child(2){
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 40px;


}
.bottompart{
        display: flex;
        gap: 13px;
        position: relative;
}
.bottompart>img{
          
    rotate: -180deg;
   
    
    position: absolute;
    top: 3px;
    left: 93px;
    

}
.bottompart>p{
    text-decoration: 2px underline #25d366;
    text-underline-offset: 7px;

}

.beach{
    position: relative;
}

.beach img:nth-child(2){

    position: absolute;
   width: 340px;
   top: 27%;
   left: -2%;

}
.grp{
    position: relative;
    padding-top: 55px;
    margin-top: 15px;
}
.grp img:nth-child(2){
    position: absolute;
    z-index: -1;
    left: 9%;
    top: -5%;
}
.grp img:nth-child(1){
  
    transform: scale(0.9);
}

.notwo{

     width: 250px;
     height: 50px;
     padding-left: 5px;
      padding-right: 5px;
}
.green{
    font-size: 60px;
    line-height: 60px;
    color: #25D366;
}

.full{
    width: 100vw;
    margin-left: -41px;
    height: 820px;
}

   

    
    



